*.docx
*.doc
*.pdf
*.pptx
*.ppt
*.png
*.jpg
*.jpeg

# --- Build & IDE Outputs ---
build/
bin/
out/
.vscode/
vcpkg_installed/

# --- C++ Compiled Objects & Libraries ---
*.o
*.obj
*.slo
*.lo
*.gch
*.pch
*.ilk
*.pdb
*.ifc
*.pcm
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# --- Executables ---
*.exe
*.out
*.app